title{
  display:contents;
}
link{
  display: contents;
}
.header{
    background-color: #00007C;
    height: 100px;
    width: 100%;
    font-size: medium;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}

.header h1 {
    text-align: center;
    padding: 25px 0;
    max-height: 100px;
    font-size:xxx-large;
}
body table {
    width: 100%;
    text-align: center;
}

body table, th, td{
    border: 1px solid;
    margin: 0px;
    border-width: none;
}

body{
    margin-top: -32px;
    margin-right: -5px;
    background-color: white;
    margin-left: 100px;
    text-align: center;
}
p{ 
    color: #031927;
}
body img {
    height: auto;
    width: 22% ;
    outline: auto;
    margin-inline: 25px;
}
body h6{
    display: inline;
    margin-inline: 40px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #9EC5A9;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
  }
  .sidebar img {
    outline: none;
    display: block;
    margin: auto;
    background-color: white;
    height: 100px;
    width: 100px;
  }
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: navy;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #8CBA99;
    color: navy;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover/*:not(.active)*/ {
    background-color: #73AB83;
    color: navy;
  }

  .mandate ul {
    list-style: disc;
  }
  .mandate { 
    text-align: left;
  }
  .mandate h3 {
    padding-left: 20px;
  }